.navigation__bar_item {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.3s ease;
  position: relative;
  padding: 10px 0;
  margin: 0 10px;
  font-family: "Cabinet Grotesk", sans-serif;
}

.navigation__bar_item_dropdown {
  display: none;
  list-style: none;
}

.navigation__bar_item_dropdown_open {
  font-family: "Cabinet Grotesk", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #242424;
  padding: 0;
  list-style: none;
  white-space: nowrap;
  margin: 0;
  z-index: 100;
  width: 150px;
  align-items: flex-start;
}

.navigation__bar_item_link {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.3s ease;
  position: relative;
  padding: 10px 0;
  list-style: none;
}
